#explanation {
    position: absolute;
    top: 0;
    left: 0;
    margin-left:auto;
    margin-right:auto;
}

#dc-geo-chart {
    position: absolute;
    top: 0;
    left: 0;
    margin-left:auto;
    margin-right:auto;
}

#dc-bmi-bar-chart {
    position: absolute;
    top: 0;
    left: 0;
    margin-left:auto;
    margin-right:auto;
}

#explanation,
#dc-geo-chart {
    z-index: 10;
}